
body{
    background-color: rgb(247, 218, 213);
   
}
.head{
	width:600px;
	height:610px;
	border-radius:100%;
	background:#3c9dca;
	border: black solid thick; margin-left: auto;
    margin-right: auto;
	margin-top:5%;
}

.white{
    width: 524px;
    height: 462px;
    border-radius: 100%;
    position: relative;
    top: 110px;
    left: 38px;
    background:white;
    border: black solid thin;
    z-index: 0;
    }
    .nose{
        width: 65px;
        height: 65px;
        border-radius: 100%;
        background: #b90319;
        list-style: none;
        position: relative;
         top: 60px;
        border: black solid thin;
        
        left: 230px;
        z-index:2;
        }

        .nose::after
        {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background:white;
            list-style: none;
            top: 19px;
            position: relative;
            border: black solid thin;
            display: block;
            left: 9px;
            }


            .line_left{
                width: 150px;
                height:2px;
                transform:rotate(20deg);
                top: 90px;
                left: 14px;
                position:relative;
                border-radius: 10%;
                background: #000;
                list-style: none;
                }
                
                .line_left::before{
                content:'';
                width: 150px;
                height:2px;
                top: 70px;
                transform:rotate(-20deg);
                position:relative;
                border-radius: 10%;
                background: #000;
                list-style: none;
                display: block;
                }
                .line_left::after{
                content:'';
                transform:rotate(-40deg);
                width: 150px;
                height:2px;
                top: 120px;
                left: 30px;
                position:relative;
                border-radius: 10%;
                background: #000;
                list-style: none;
                display: block;
                } 
                
.line_right{
    width: 150px;
    height:2px;
    transform:rotate(157deg);
    top: 90px;
    left: 370px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
    }

    .line_right::before{
    content:'';
    width: 150px;
    height:2px;
    bottom: 105px;
    position:relative;
    transform:rotate(37deg);
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
    left:20px;
    }
    
    .line_right::after{
    content:'';
    width: 150px;
    height:2px;

    bottom: 55px;
    transform:rotate(16deg);
    left: 0px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
    }
    .line_vertical{
        width: 2px;
        height: 320px;
        position: relative;
        border-radius: 10%;
        background: #000;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        }

        .mouth{
            width: 400px;
            height: 400px;
            border-radius: 100%;
            top: -358px;
            left: 62px;
            position: relative;
            background: #000;
            z-index: -1;
            }
            .mouth::after{
                content: '';
                width: 402px;
                height: 401px;
                top: -4px;
                left: -1px;
                border-radius: 100%;
                position: relative;
                display: block;
                background: #FFF;
                }
      
.eye_white {
    position: relative;
    top: 30px;
    left: 130px;
    z-index:1;
    }          
    
.eye_white li{
    
    width: 125px;
    height: 152px;
    border-radius: 100%;
    background: #FFF;
    list-style:none;
    border: black solid thin;
    float:left;
    }
    .eye_black{
        width: 25px;
        height: 45px;
        border-radius: 100%;
        background: #000;
        list-style:none;
        top: 80px;
        position:relative;
        border: black solid thin;
        display:block;
        left: 10px;
        
        }

    
